<main class="loading" id="skrollr-body">

    <section id="slide-1" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">
                <div class="hsContent" data-center="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-1 .btn">
                    <h2 id="heading" class="killer">FantN<p class="small">...it's never lost</p></h2>
                    <div>
                        <h2 class="mbm lead">Et hittegodssystem for <strong>Eiere</strong> og <strong>Finnere</strong> av litt av hvert!</h2>
                    </div>
                    <a href="/prereg" class="btn btn-success">Bli medlem</a>
                    <div class="centerify bottomify">
                        <i class="icon i-4x ion-chevron-down white blink"></i>
                    </div>
                </div>
            </div>

            <div class="collage hidden-xs" data-bottom-center="opacity:0;" data--200-bottom-center="opacity:1;" >
                <img src="/images/thingscollage.png" class="img-full"/>
            </div>

        </div>
    </section>

    <section id="slide-2" class="homeSlide">
        <div class="bcg" data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -100px;"
            data-bottom-top="background-position: 50% 100px;"
            data-anchor-target="#slide-2">
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="plaxEl" data-bottom-center="opacity:0;" data--300-bottom-center="opacity:1;">
                        <h2 class="skinny kill t-shadow container">Merk dine eiendeler slik at du kan få tilbake ting du mister raskt og effektivt!</h2>
                        <h3>Trygghet for deg - enklere for den som finner!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-3">
        <div class="bcg" data-anchor-target="#slide-3">
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="container pvxxl">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h2 class="fatty black">FantN</h2>
                                <p class="lead black">Finneren skanner FantN-etiketten, og du varsles om hvem som har funnet noe du har mistet.</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="/images/Fantn_iPhone2_c.jpg" class="img-6 img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-4" class="homeSlide">
        <div class="bcg" data-bottom-top="background-position: 0px 40%;" data-top-bottom="background-position: 0px 200%;" data-anchor-target="#slide-4">
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="container" data-bottom-center="opacity:0;" data--300-bottom-center="opacity:1;">
                        <h2 class="skinny kill t-shadow container">Få tilbake noe du har mistet før du vet at du har mistet det!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-5" class="homeSlide">
        <div class="bcg" data-bottom-top="background-position: 0px -100%;" data-top-bottom="background-position: 0px 150%;" data-anchor-target="#slide-5">
            <img src="/images/FantN_How_5.gif" class="img-full hidden-xs" style="position:absolute; position: absolute; top: -165px;"/>
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="container">
                        <h2 class="skinny kill t-shadow container">FantN – Raskt. Enkelt. Anonymt. Billig.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-6">
        <div class="bcg" data-anchor-target="#slide-6">
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="container pvxxl">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <img src="/images/wallet.jpg" class="img-6 img-thumbnail">
                            </div>
                            <div class="col-sm-6 text-left">
                                <h2 class="fatty black">Som Medlem</h2>
                                <p class="lead black">Mottar du 10 etiketter med unike koder. Du kan merke hva du vil.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-7" class="homeSlide">
        <div class="bcg" data-bottom-top="background-position: 0px 40%;" data-anchor-target="#slide-7">
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="container">
                        <h2 class="skinny kill t-shadow container mbm">FantN – Ikke bare for verdigjenstander, men også for de vi er glad i...</h2>
                        <a href="/prereg" class="btn btn-success">Bli medlem</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="/js/imagesloaded.js"></script>
<script src="/dist/scripts/landing.js"></script>
