<div id="modal-auth" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="false" class="modal in light-brd" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="auth-box modal-pane-signin">
                <div class="modal-header">
                    <a href="/"><button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="ion-ios7-close"></i></button></a>
                    <h3 class="modal-title">Glemt Passordet?</h3>
                </div>

                <div class="modal-body">
                    <form method="post" action="/forgot-password" role="password-retrieval" novalidate="novalidate" class="form-password auth-form">
                        <input type="hidden" name="action" value="forgot-password">
                        <div class="form-groups">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email adresse</label>
                                <input type="email" name="email" id="email" placeholder="Email address" class="form-control form-control--first form-control--last"></div>
                            </div>

                            <button type="submit" data-loading-text="Sending..." class="btn btn-block btn-primary btn-submit">Send reset link</button>
                        </form>

                        {{#unless user}}
                            <p class="text-center text-muted mt-3">Jeg kom på det, <a href="/signin" rel="modal-pane" data-modal-pane="signin">log inn</a></p>
                        {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>
