<div id="modal-auth" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="false" class="modal in light-brd" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="auth-box modal-pane-signin">
                <div class="modal-header">
                    <a href="/"><button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="ion-ios7-close"></i></button></a>
                    <h3 class="modal-title">Forny Ditt FANTN Passord</h3>
                    <p>Fyll inn ditt nye passord, to ganger</p>
                </div>
                <div class="modal-body">

                    <form method="post" role="signin" novalidate="novalidate" class="auth-form">
                        <input type="hidden" name="action" value="reset-password">

                        {{#if messages.warning}}
                            <div class="alert alert-warning">
                                {{{flashMessages messages.warning}}}
                            </div>
                        {{/if}}
                        {{#if messages.error}}
                            <div class="alert alert-error">
                                {{{flashMessages messages.error}}}
                            </div>
                        {{/if}}

                        <div class="form-groups">
                            <div class="form-group">
                                <label for="password" class="sr-only">Passord</label>
                                <input type="password" name="password" placeholder="Nytt Passord" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password_confirm" class="sr-only">Passord</label>
                                <input type="password" name="password_confirm" placeholder="Konfirmer Passord" id="password_confirm" class="form-control">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-block btn-primary btn-submit">Forny</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
