extends layouts/base

block content
	p Hei #{user.name.first},
	p Du ba om en link for å resette ditt Fantn passord.
	p Opprett et nytt passord ved å følge linken under:
	a(href=host + link)= host + link
