<main class="body">
<div class="banner banner-small"></div>
<div class="container">
    <h1 class="text-center mvs primary">Om FantN</h1>

    <div class="row">
        <div class="col-xs-6">

            <p class="lead">
                <p><strong>Hvordan Fungerer det?</strong></p>
                Når en gjenstand merket med Fantn etikette blir funnet, så skanner finneren etiketten med en QR kode skanner på sin telefon. En tekstmelding sendes så til systemet, som vil gjenkjenne koden som din, og systemet vil så sende deg en melding om at en gjenstand du har mistet er funnet, samt mobilnummeret til den som har funnet din gjenstand. Dette går veldig fort, og hensikten er at du faktisk skal få igjen din gjenstand før du engang vet at du har mistet den.<br><br>


                Som medlem i Fantn vil du få tildelt 10 unike koder. Kodene er å finne på 10 selvklebende etiketter som du vil få tilsendt. Disse etikettene benytter du til å merke dine verdigjenstander. Ved å bli medlem vil du få en egen hjemmeside på Fantn; din personlige Fantn side. Her vil du se alle kodene dine, status på kodene samt her har du også mulighet til å dedikere koder til navngitte gjenstander.<br><br>


                Som finner vil du få et halvt års medlemskap i Fantn, og få tilsendt 10 etiketter. Fantn er ikke ansvarlig for at det utbetales finnerlønn, om så enn dette er lovbestemt. Fantn er et system som baserer seg på det ærlige mennesket, og på gleden av å kunne gi tilbake noe man finner til rettmessig eier.
            </p>
        </div>
        <div class="col-xs-6" class="faq">
            <p class="lead">
                <p><strong>Om Selskapet</strong></p>
                FantN as er en norsk bedrift etablert i 2014. FantN er et system for å hjelpe de som finner noe som er mistet til å finne eieren raskt og enkelt. Med andre ord, et hittegodssystem. Ideen er tuftet på det ærlige i mennesket – at hva vi finner, ønsker vi å levere tilbake. FantN er et medlemsregister, hvor man registerer sine verdigjenstander. Man mottar som medlem et sett selvheftende merker, som man fester på sine verdigjenstander. FantN samarbeider med forsikringsselskap og aktører innenfor offentlig transport, i tillegg til andre organisasjoner som opererer på offentlige steder. FantN er 100% anonymt, det er kun du og systemet som kjenner din identitet og dine unike koder.
            </p>
        </div>
    </div>


</div>

</main>
