<main class="body">
    <div class="row">
        <div class="col-xs-6">

            <form class="form-light phm" method="post" action="/contact">
                <h1 class="text-center mvm primary">KONTAKT OSS</h1>
                <input type="hidden" name="action" value="contact">

                <label class="sr-only" for="name">Navn</label>
                <input type="text" class="input-trans" id="name" name="name" placeholder="Navn"></input>

                <label class="sr-only" for="email">Epost</label>
                <input type="email" class="input-trans" name="email" id="email" placeholder="Epost"></input>

                <label class="sr-only" for="comments">Kommentarer</label>
                <textarea class="input-trans" name="text" placeholder="kommentarer" id="comments" cols="40" rows="5"></textarea>
                <div>
                    <input type="submit" class="btn btn-trans left" value="Send"></input>
                </div>
            </form>

            <small class="fade pal">Copyright &copy; 2014 FANTN &reg; Med enerett Pat.Pend Nr 20140293 - Fantn AS</small>
        </div>
        <div class="col-xs-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2010.3854173699306!2d10.211438999999999!3d59.743038!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46413cb670d534c9%3A0xff0e063375a7d502!2sFantn+AS!5e0!3m2!1sno!2sno!4v1415521036130" width="100%" height="500" frameborder="0" style="border:0"></iframe>
            <p class="text-center"><strong>Besøksaddresse:</strong> Gjetergata 12, 3015 Drammen  <strong>Postaddresse: </strong> Postboks 22 Bragernes, 3001 Drammen, Telefon: 909 60 859‏</p>
        </div>
    </div>
</main>
