<main class="body">
<div class="banner banner-small banner-tt"></div>
<div class="container">
    <h1 class="text-center mvs primary">FAQ</h1>

    <div class="row">
        <div class="col-md-5">

            <p class="lead">Her er en liste over alle de mest stillte spørsmålene vi får. Vi prøver å besvare dem så godt vi kan.</p>

            <h4 class="mvm text-center"><a href="/contact">Ønsker du å stille oss et spørsmål?</a></h4>

            <p class="icon text-center ion-ios7-chatboxes-outline i-4x"></p>
        </div>
        <div class="col-md-7" class="faq">
            <h6>
                <h4 class="success">Hva koster det å være medlem i FANTN?</h4>
                <p><a href="/tc">Se Vilkår og Betingelser</a></p>
            </h6>

            <h6>
                <h4 class="success">Hvis jeg skal bli medlem, må jeg binde meg for en lengre tidsperiode?</h4>
                <p>Korteste medlemsperiode er 6 måneder.</p>
            </h6>

            <h6>
                <h4 class="success">Hvordan betales medlemskapet?</h4>
                <p>FANTN er et abonnements system. Du kan betale per måned eller for 1, 2 eller 3 år. Betaling foregår via godkjente betalingskanaler eller mobilabonnement, dette velger du selv</p>
            </h6>

            <h6>
                <h4 class="success">Fungerer FANTN i utlandet?</h4>
                <p>Ja, systemet fungerer i alle land. Systemet håndterer også 7 språk.</p>
            </h6>

            <h6>
                <h4 class="success">Hvis jeg ikke kan nås når en finner sender SMS, hva skjer da?</h4>
                <p>Hvis du har registrert flere telefonnummer på hjemmesiden din, vil vi forsøke å nå alle disse. Om ikke noen svarer, vil vi manuelt fra vår operasjonssentral kontakte finneren og behandle din sak.</p>
            </h6>

            <h6>
                <h4 class="success">Hvor er det best å merke en gjenstand med FANTN etiketten?</h4>
                <p>Plasser den slik at den enkelt synes. Etiketten er designet av profesjonelle for å ikke forringe design og image</p>
            </h6>
            <h6>
                <h4 class="success">Hvor lang tid tar det fra en finner skanner etiketten til jeg får beskjed?</h4>
                <p>Normalt tar det under minuttet fra finneren skanner til du har finnerens telefonnummer tilgjengelig. Hele hensikten er at du skal få tilbake noe du har mistet før du vet at du har mistet det.</p>
            </h6>
            <h6>
                <h4 class="success">Kan jeg merke familiemedlemmers gjenstander med mine etiketter?</h4>
                <p>Ja, det kan du, men det er din mobil som blir kontaktet ved funn.</p>
            </h6>
            <h6>
                <h4 class="success">Har dere tenkt på å lage bagasje merkelapper?</h4>
                <p>Ja, det kan vi bekrefte – de kan bestilles i vår web-shop i nær fremtid.</p>
            </h6>
            <h6>
                <h4 class="success">Om noen finner en gjenstand jeg har merket. Kan de se hvem som eier gjenstanden?</h4>
                <p>Nei, FANTN er anonymt. Det er kun systemet som kjenner din identitet. Du velger selv om du vil ringe finneren eller ikke og tilkjenne gjøre deg.</p>
            </h6>
            <h6>
                <h4 class="success">Hva slags kvalitet er det på FANTN etikettene?</h4>
                <p>De er laget av beste kvalitets materiale og er foliert for lang holdbarhet. Ved vanlig slitasje vil etikettene vare i flere år. Etikettene er både vannfaste og værfaste. Om man mot formodning skulle oppleve at en etikette slites ut kan ny bestilles fra FANTN AS.</p>
            </h6>
        </div>
    </div>


</div>

</main>
