<main class="body">
    <div class="banner banner-small banner-tc"></div>
    <div class="container">
        <h1 class="text-center mvs primary">Vilkår og betingelser</h1>
        <p>Ditt medlemskap er underlagt følgende vilkår og betingelser, og vi ber deg lese disse nøye.</p>


        <div class="row">
            <h3>Definisjoner</h3>
            <p>Eier: en som eier en gjenstand og som er medlem i FantN
                Finner: en som finner en gjenstand som er mistet og som har skannet den
                QRkode: quickreadkode
                Skanne: å benytte en spesiell leser dedikert for å lese QR koder. Gratis tilgjengelig
                Mist: handlingen som foregår fra en gjenstand er mistet til den er kommet til rette Hendelse: handlingen som foregår fra en gjenstand er mistet til den er kommet til rette
                Innleverings-
                tjeneste: når vi ikke kan komme i kontakt med eier eller alternative kontakter vil finner bli bedt
                om å levere den funnede gjenstand til et sentralt sted, eller sende per post. Dette slik at FantN kan avlaste finner fra ansvaret å ha gjenstanden.</p>

                <h3>Tjenesten</h3>
                <p>FantN leverer en tjeneste som forenkler det å levere tilbake noe som man finner, samtidig som ved at eier av gjenstander merker disse med FantN etiketter muliggjør at man får en mistet gjenstand tilbake. Dette gjøres ved QR koding, SMS tjeneste og FantN systemet. FantN systemet er et patentert system som sikrer anonymitet ifht gjenstander som merkes.
                </p>

                <h3>Bruk av tjenesten</h3>
                <p>Du vil kjøpe et medlemskap i FantN på vår web-side eller gjennom andre salgskanaler. Med medlemskapet følger 10 etiketter av forskjellig størrelse og en personlig web-side, hvor du kan registrere etiketter til dine eiendeler du ønsker å merke. Om du ikke ønsker å dedikere dine etiketter til dine eiendeler, vil systemet fremdeles fungere, men vi vil ikke vite hva som er funnet, og kan da heller ikke informere deg om det. Du kan logge deg på din web-side med din bruker id og passord. På hjemmesiden kan du administrere alle dine opplysninger, samt se status på dine etiketter. I tillegg finnes en historikkside hvor du kan få historikken på dine etiketter.
                    FantN etiketter er laget for å vare, men kan slites ut. Om noen av dine etiketter slites ut så kan vi lage en ny etikett til deg. Etikettene er selvklebende og sitter meget godt på alle overflater, men vi kan ikke garantere at de ikke faller av.
                    Etikettene vil fungere fra den dagen de produseres og i den perioden du har abonnert for. Vi tar hensyn til postgang og levering, og legger til en uke. Om du har 12, 24 eller 36 måneders abonnement vil du 1 – en - måned før ditt abonnement utløper få en melding, samt spørsmål om du ønsker å forlenge ditt abonnement. Dette gjøres enkelt besvares via SMS, eller du kan også gjøre dette via din web-side. Spesial etiketter for bl.a. kjæledyr, bagasje, håndleddsband etc. kan etter hvert bestilles fra vår web-shop.
                    FantN vil etter hvert utvide tilbudet basert på dette unike konseptet. Utvidelser kan innebære kostnader, men disse vil ikke påløpe uten samtykke fra deg som abonnent.</p>


                    <h3>Betaling</h3>
                    <p>FantN er et abonnements system hvor du kan betale månedlig, for 12, 24 eller 36 måneder. Betaling kan gjøres over nettet via kort gjennom PayPal el.l. godkjente betalingsportaler eller via mobiltelefon. All betaling foretas via vår serviceprovider og sikker betaling.
                        ￼Prisliste for 10 etiketter: Månedlig.
                        Første måned
                        Påfølgende måneder 12 måneder:
                        24 måneder: 36 måneder:
                        kr. 17,- kr. 12,-
                        kr. 130,- kr. 230,- kr. 300,-
                        Inkludert i abonnementet er 10 stk etiketter og behandling av 10 hendelser i løpet av 12 måneder. Hendelser utover dette vil bli fakturert med kr. 3,- per hendelse. Dette vil si at om du i løpet av 12 måneder mister mer enn 10 gjenstander, så vil behandlingen av en hendelse utover dette bli fakturert via sms med kr. 3,- per hendelse.
                        Om vi ikke skulle treffe deg på ditt mobilnummer, men må benytte et av de alternative kontaktnummer som du har lagt inn, vil det påløpe en tilleggskostnad på kr. 2,- per kontaktnummer vi forsøker.
                        Om vi mot formodning ikke får kontakt med deg eller på alternative nummer, vil det påløpe en ekstra kostnad for innleveringstjenesten. Denne kosten vil være rimelig, avh. av innleveringssted og avtale, men aldri overstige kr. 75,-.
                        Kost for erstatningsetiketter vil være kr. 30,-/stk. Dette inkluderer produksjon, behandling og porto.</p>

                        <h2>Generell informasjon</h2>
                        <h3>Rettigheter</h3>

                        <p>Alle rettigheter tilhører FantN AS. Dette inkluderer systemrettigheter, navnet FantN, varemerkeregistrerte FantN og alle produkter og tjenester innebefattet med FantN.

                            FantN systemet er patentomsøkt, patentnummer 20140293. FantN er varemerkeomsøkt, nr. 201402941.
                            DU som bruker av FantN har en ekslusiv rett til å benytte FantN sine tjenester. Dette gir ikke rett til å forsøke å bruker eller utnytte FantN sine systemer på noen måte annet en hva som er blitt tilgjengeliggjort av FantN.
                        </p>

                        <h3>Vedlikehold/Endringer</h3>
                        <p>FantN vil kontinuerlig søke å utbedre sine tjenester og bygge ut sitt tjenestespekter, noe som vi vil informer om på forhand på våre nettsider. Vi kan ikke garantere at våre tjeneseter til enhver tid er on-line.</p>

                        <h3>Betaling og betalingssikkerhet</h3>
                        <p>All betaling vil foretas via godkjente betalingsleverandører. FantN vil ikke oppbevare noen betalingsinformasjon i sine systemer, dette ihht Norsk lov om betaling på nett.</p>


                        <h3>Nyheter</h3>
                        <p>Som FantN medlem vil du automatisk motta nyheter til din emailadresse. Om du ikke ønsker dette kan du på din hjemmeside endre dette slik at du ikke vil motta nyheter fra FantN.</p>


                        <h3>Finnelønn</h3>
                        <p>FantN er basert på ærlighet i mennesket, samt lysten til å kunne levere noe tilbake til den rettmessige eier. FantN bryr seg ikke om de eventuelle rettmessige krav om finnelønn, dette må eventuelt bli mellom Finner og Eier.
                            Som en finner i FantN systemet vil man motta 6 måneders medlemskap i FantN.
                        </p>


                        <h2>Ansvar</h2>
                        <h3>Medlemsansvar</h3>
                        <p>Som medlem og bruker av FantN er du selv ansvarlig for bruken gjennom din medlemsside. Ditt passord må holdes hemmelig, og du er selv ansvarlig for å endre dette. Om du skulle oppdage noe du ikke er trygg på skal dette umiddelbart rettes til Fant i en email, Support@FantN.no.
                            FantN er et system som bygget på at gjenstander ikke knyttes til navn/adresser, men er anonymt. Du er selv ansvarlig for den informasjon som blir gitt i kommunikasjon mellom Finner og Eier. På nettsiden vår vil det være råd og tips om informasjon som bør gis, samt generell bruk av tjenesten slik at din sikkerhet opprettholdes på best måte.</p>

                            <h3>FantN sitt ansvar</h3>
                            <p>FantN fraskriver seg ethvert ansvar for at merkede gjenstander ikke blir returnert, at gjenstanden er skadet eller ikke lengre er i den forfatning som da den ble mistet eller at gjenstanden ikke er den som er mistet. Dog heller ikke ansvarlig for at gjenstander leveres tilbake til rettmessig eier.
                                Kommunikasjonen i systemet kan stilles til rådighet til politi, men da kun når det er gitt en påbud fra rettsinstans om dette.
                                FantN er heller ikke ansvarlig for tap av data eller at data kommer på avveie av en eller annen grunn. FantN vil dog forsøke å minimere skaden av slike utilsiktede hendelser. FantN er ikke ansvarlig for indirekte eller direkte økonomiske tap, være seg inntektstap eller tap av goodwill.</p>

                                <h3>Force Majeure</h3>
                                <p>FantN fraskriver seg ansvar for alle hendelser utenfor FantNs kontroll. Dette kan være, men er ikke begrenset av, følgende; brann, oversvømmelse, jordskjelv, krig, sabotasje, datavirus, data innbrudd, streik, lovgiving, tredjeparts leverandørers feil, gudshandlinger eller datahacking.</p>


                                <h2>Abonnement</2>
                                    <h3>Avslutte medlemskap</h3>
                                    <p>Ditt aktive medlemskap i FantN varer ut perioden du har betalt for. Med mindre du har månedsabonnement vil du senest 1 måned før forfall vil du motta en SMS som forteller deg at ditt medlemskap forfaller, med spørsmål om du ønsker å fornye. Ditt medlemskap for en ny periode.
                                        Ved at du ikke fornyer ditt medlemskap vil abonnementet automatisk termineres, og din personlige side deaktiveres i våre register.
                                        FantN forbeholder seg rettigheter til å endre vilkårene om det skal være nødvendig for å opprettholde service eller for at FantN skal kunne levere sine tjenester iht til avtaler, eller om det skulle være nødvendig for introduksjon av nye produkter/tjenester i FantN porteføljen.</p>


                                        <h3>Mislighold</h3>
                                        <p>FantN kan avslutte et abonnement ved vesentlig mislighold uten forvarsel. Med vesentlig mislighold menes at vi mener at du som abonnent misbruker FantN sine tjenester eller at du på noen som helst annen måte agerer utover FantN sine Vilkår og Forutsetninger.</p>


                                        <h3>Kansellering av kjøp</h3>
                                        <p>FantN forholder seg til Norsk lov, Angrerettslovens, ved kansellering av kjøp. Skjema for retur av produkter og for å benytte angreretten følger med alle utsendelser fra FantN. Dette skjema må være utfylt og sendt Fantn senest 14 dager etter mottak av varen. For ytterligere informasjon, se http://lovdata.no/dokument/NL/lov/2000-12-21-105?q=angrerettsloven* .
                                            Husk at produktene skal levers i vesentlig grad i samme stand som da de ble mottatt.</p>

                                            <h2>Andre vilkår</h2>
                                            <h3>Tvister og rettsinstans</h3>
                                            <p>Dersom det oppstår tvist mellom FantN og abonnent om tolkningen og rettvirkningene av avtalen skal tvisten først søkes løst ved forhandlinger. Fører slike forhandlinger ikke frem innen 3 mndr, kan hver av partene bringe tvisten inn for norske domstoler for endelig avgjørelse. Drammen Byrett vil være verneting.</p>


                                            <h3>Kontakt</h3>

                                            <p>FantN vil benytte den informasjon og emailadresse du har registrert som hhv leverings og kontaktadresse. Med unntak av for forsendelser vil FantN benytte email som kommunikasjonskanal.
                                                Hvis du ønsker kontakt med FantN, benytt enten kontaktskjema på nettsiden www.FantN.no, eller følgende
                                                Generelle henvendelser: post@FantN.no
                                                Retur, oppsigelser, tekniske spørsmål eller klager: support@FantN.no Telefon: +47 909 60 859</p>

                                            </div>


                                        </div>

                                    </main>
