.circle {
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.circle-found {
    background: $brand-warning;
}

.circle-av {
    background: $brand-success;
}

.circle-lost {
    background: $brand-danger;
}
