/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * FOOTER
*/





/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
    position: absolute !important;
    bottom: 50px;
    left: 0;
    right: 0;
}
